.content {
    width: 90%;
    /* display: block; */
    margin: 20px 5%;
    /* width: 70%!important; */
    background: #fff;
    padding: 40px 30px;
    /* display: inline-block !important; */
}

#edit {
    /* margin: 0; */
    /* display: inline-block!important; */
    border-right: 2px #333;
}

#editPlace {
    display: inline-block !important;
}

#edit select {
    width: 100% !important;
}

#placelist {
    width: 93%;
}

#selectPlace {
    width: 108%;
    min-height: 300px;
    max-height: 500px;
    background: #ddd;
    overflow-y: auto;
    border-radius: 6px;
    padding: 10px 5px;
}

#block {
    background: white;
    margin-bottom: 2px;
    height: 35px;
    line-height: 35px;
    /* text-align: center; */
    cursor: pointer;
}

#block p {
    margin-left: 12px;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: -10px;
    color: #555;
}

#presentImages {
    display: flex;
    flex-wrap: wrap;
}

#presentImages div {
    margin-right: 20px;
    margin-bottom: 20px;
}

#largeImage {
    height: auto;
    width: 100%;
}