#authdialog{
    margin-top: 50px;
}

.tab-pane{
    background: white;
    padding: 30px 60px;
    text-align: left;
}

#signUpError p,#loginError p{
    color: red;
}


#facebook{
    background-color: #3b5998;
    /* width: 80%; */
    margin-top: 20px;
}

.header {
    background-color: #111;
    height: 60px;
    /* position: relative; */
    text-align: center;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.sudo-nav {
    padding-top: 30px;
}
/* 
.header .logo {
    position: absolute;
    top: 25%;
    right: 40%;
} */