#right-panel {
    /* text-align: center; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.content {
    width: 80%;
    /* display: block; */
    margin: 20px 10%;
    /* width: 70%!important; */
    background: #fff;
    padding: 40px 70px;
}

input,
select,
textarea {
    background-color: #ddd !important;
}

.content button {
    margin-top: 20px;
}

form img {
    width: 100px !important;
    height: 100px !important;
}

#presentimages {
    display: inline-flex;
}

#presentImages > div > img{
    cursor: pointer;
}