#authdialog{
    margin-top: 50px;
}

.tab-pane{
    background: white;
    padding: 30px 60px;
    text-align: left;
}

#signUpError p,#loginError p{
    color: red;
}


#facebook{
    background-color: #3b5998;
    /* width: 80%; */
    margin-top: 20px;
}